.content-form {
  padding: 14px;
  margin: 0 auto;
  max-width: 440px;
  width: 90%;
}

.content-form .form-group {
  margin-bottom: 10px;
}
.content-form .form-group label {
  font-weight: 700;
  display: block;
}
.content-form .form-group input {
  padding: 6px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  margin-top: 7px;
  width: 100%;
}

.content-form .form-group textarea {
  padding: 6px;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  margin-top: 7px;
  width: 100%;
}

button {
  background-color: #00d5ff;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  width: 170px;
}
